.Footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 5px;
  display: flex;
  justify-content: space-evenly;
}

.icons ul {
  list-style: none;
  color: #d99330;
  font-size: 1rem;
}
