.homeParent h1 {
  margin-left: 3.125rem;
}

.homeParent h2 {
  margin-left: 3.125rem;
}

.child {
  margin-top: 0.313rem;
  margin-left: 6.25rem;
}

.image img {
  object-fit: cover;
  width: 31.25rem;
  height: 31.25rem;
}

.skills {
  margin-top: 3.75rem;
  text-align: center;
}

div ul {
  display: flex;
  justify-content: center;
  padding: 0;
  display: flex;
  gap: 1.5rem;
  font-size: 15px;
  margin-top: 17px;
}
