.homeParent {
  height: auto;
  justify-content: left;
  margin: auto;
  margin-top: 75px;
}

.homeParent h1{
  margin-left: 50px;
  text-align: center;
}

.homeParent h2{
  margin-left: 50px;
  text-align: center;
}

.child {
  margin-top: 5px;
  margin-left: 100px;
}

.image img {
  object-fit: cover;
  width: 500px;
  height: 500px;
}

.skills {
  margin-top: 60px;
  text-align: center;
}

div ul {
  display: flex;
  justify-content: center;
  padding: 0;
  display: flex;
  gap: 1.5rem;
  font-size: 15px;
  margin-top: 17px;
}
