.users{
    display: grid;
    grid-template-columns: 16rem 16rem 16rem 16rem;
    align-content: center;
    grid-gap: .7rem;
    margin: auto;
    margin-bottom: 20px;
}

.repoCard li{
    border: solid;
    border-color: antiquewhite;
    border-radius: 0.5rem;
    padding: 15px;

    height: 12rem;
    text-align: center;
    justify-content: center;
}

h3{
    font-size: 40px;
    font-family: "consolas", sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;
    margin: 0px 0 0;
    padding: 0px 0 0;
}

.users img{
    width: 50px;
    height: 50px;
    margin: .2rem;
}